<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <br><img src="https://thumbs.dreamstime.com/z/traffic-police-officer-uk-vector-illustration-traffic-police-officer-uk-187594525.jpg" class="img-fluid" alt="CLRSWY" width="200" height="100">

***

## Examining the dataset

We will be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

In [1]:
import pandas as pd
import numpy as np
import re

pol = pd.read_csv('police.csv.zip').sample(50000, random_state=101)
pol.shape

/Users/ozkanyildirim/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(50000, 26)

In [2]:
pol.head(5)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
154167,RI-2008-28543,RI,2008-08-02,02:37,Zone X3,NaN,NaN,NaN,200,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X3
182662,RI-2009-08019,RI,2009-02-28,11:02,Zone K2,NaN,NaN,NaN,900,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2
333465,RI-2012-27184,RI,2012-05-17,13:45,Zone K2,NaN,NaN,NaN,900,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
240119,RI-2010-22023,RI,2010-06-22,00:43,Zone X3,NaN,NaN,NaN,200,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X3
158285,RI-2008-32661,RI,2008-08-30,18:09,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [3]:
pol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 154167 to 376848
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     50000 non-null  object
 1   state                  50000 non-null  object
 2   stop_date              49998 non-null  object
 3   stop_time              49998 non-null  object
 4   location_raw           50000 non-null  object
 5   county_name            0 non-null      float64
 6   county_fips            0 non-null      float64
 7   fine_grained_location  0 non-null      float64
 8   police_department      49998 non-null  object
 9   driver_gender          47180 non-null  object
 10  driver_age_raw         47185 non-null  float64
 11  driver_age             47021 non-null  float64
 12  driver_race_raw        47183 non-null  object
 13  driver_race            47183 non-null  object
 14  violation_raw          47183 non-null  object
 15  violation              47183 non-null  object
 16  search_conducted       49998 non-null  object
 17  search_type_raw        1778 non-null   object
 18  search_type            1778 non-null   object
 19  contraband_found       50000 non-null  bool
 20  stop_outcome           47183 non-null  object
 21  is_arrested            47183 non-null  object
 22  stop_duration          47183 non-null  object
 23  out_of_state           47105 non-null  object
 24  drugs_related_stop     50000 non-null  bool
 25  district               50000 non-null  object
dtypes: bool(2), float64(5), object(19)
memory usage: 9.6+ MB

In [4]:
pol.isnull().sum()

id                           0
state                        0
stop_date                    2
stop_time                    2
location_raw                 0
county_name              50000
county_fips              50000
fine_grained_location    50000
police_department            2
driver_gender             2820
driver_age_raw            2815
driver_age                2979
driver_race_raw           2817
driver_race               2817
violation_raw             2817
violation                 2817
search_conducted             2
search_type_raw          48222
search_type              48222
contraband_found             0
stop_outcome              2817
is_arrested               2817
stop_duration             2817
out_of_state              2895
drugs_related_stop           0
district                     0
dtype: int64

***

## Dropping columns

In [5]:
pol.shape

(50000, 26)

In [6]:
pol.drop(['state', 'county_name', 'county_fips', 'fine_grained_location'], axis=1, inplace=True)

In [7]:
pol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 154167 to 376848
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  50000 non-null  object
 1   stop_date           49998 non-null  object
 2   stop_time           49998 non-null  object
 3   location_raw        50000 non-null  object
 4   police_department   49998 non-null  object
 5   driver_gender       47180 non-null  object
 6   driver_age_raw      47185 non-null  float64
 7   driver_age          47021 non-null  float64
 8   driver_race_raw     47183 non-null  object
 9   driver_race         47183 non-null  object
 10  violation_raw       47183 non-null  object
 11  violation           47183 non-null  object
 12  search_conducted    49998 non-null  object
 13  search_type_raw     1778 non-null   object
 14  search_type         1778 non-null   object
 15  contraband_found    50000 non-null  bool
 16  stop_outcome        47183 non-null  object
 17  is_arrested         47183 non-null  object
 18  stop_duration       47183 non-null  object
 19  out_of_state        47105 non-null  object
 20  drugs_related_stop  50000 non-null  bool
 21  district            50000 non-null  object
dtypes: bool(2), float64(2), object(18)
memory usage: 8.1+ MB

***

## Dropping rows

In [8]:
pol.isnull().sum()

id                        0
stop_date                 2
stop_time                 2
location_raw              0
police_department         2
driver_gender          2820
driver_age_raw         2815
driver_age             2979
driver_race_raw        2817
driver_race            2817
violation_raw          2817
violation              2817
search_conducted          2
search_type_raw       48222
search_type           48222
contraband_found          0
stop_outcome           2817
is_arrested            2817
stop_duration          2817
out_of_state           2895
drugs_related_stop        0
district                  0
dtype: int64

In [9]:
pol.dropna(subset=['driver_gender'], inplace=True)

In [10]:
pol[['driver_gender']].isnull().sum()

driver_gender    0
dtype: int64

In [11]:
pol.shape

(47180, 22)

***

## Fixing a data type

In [12]:
pol[['is_arrested']].dtypes

is_arrested    object
dtype: object

In [13]:
pol[['is_arrested']].head(3)

       is_arrested
182662       False
333465       False
158285       False

In [14]:
pol['is_arrested']=pol['is_arrested'].astype({'is_arrested':'bool'})
pol['is_arrested'].dtypes

dtype('bool')

In [15]:
pol.dtypes

id                     object
stop_date              object
stop_time              object
location_raw           object
police_department      object
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race_raw        object
driver_race            object
violation_raw          object
violation              object
search_conducted       object
search_type_raw        object
search_type            object
contraband_found         bool
stop_outcome           object
is_arrested              bool
stop_duration          object
out_of_state           object
drugs_related_stop       bool
district               object
dtype: object

***

## Combining object columns

In [16]:
pol['stop_datetime'] = pol['stop_date'] + ' ' + pol['stop_time']

pol['stop_datetime'] = pd.to_datetime(pol['stop_datetime'])

pol.dtypes

id                            object
stop_date                     object
stop_time                     object
location_raw                  object
police_department             object
driver_gender                 object
driver_age_raw               float64
driver_age                   float64
driver_race_raw               object
driver_race                   object
violation_raw                 object
violation                     object
search_conducted              object
search_type_raw               object
search_type                   object
contraband_found                bool
stop_outcome                  object
is_arrested                     bool
stop_duration                 object
out_of_state                  object
drugs_related_stop              bool
district                      object
stop_datetime         datetime64[ns]
dtype: object

In [17]:
pol.set_index('stop_datetime', inplace=True)

In [18]:
pol.index

DatetimeIndex(['2009-02-28 11:02:00', '2012-05-17 13:45:00',
               '2008-08-30 18:09:00', '2009-04-13 22:36:00',
               '2012-08-24 22:19:00', '2011-02-06 11:12:00',
               '2011-01-22 07:43:00', '2005-12-20 04:00:00',
               '2006-11-20 13:45:00', '2015-10-03 23:32:00',
               ...
               '2012-07-26 09:45:00', '2006-05-03 10:15:00',
               '2010-09-20 13:46:00', '2012-06-09 01:07:00',
               '2008-11-01 14:10:00', '2010-02-22 11:22:00',
               '2007-04-09 10:40:00', '2012-12-22 01:26:00',
               '2012-10-25 15:19:00', '2013-03-21 11:54:00'],
              dtype='datetime64[ns]', name='stop_datetime', length=47180, freq=None)