In [265]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [266]:
import warnings
warnings.filterwarnings('ignore')
warnings.warn("this will not show")

In [267]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_info_columns', 500)
pd.set_option('display.max_info_rows', 2000)
pd.set_option('display.expand_frame_repr', True)
pd.set_option('display.width', 2000)

In [268]:
pd.set_option('display.max_columns', None)

In [269]:
scout_raw = pd.read_json('scout_car.json', lines=True)
scout = pd.read_json('scout_car.json', lines=True)

In [270]:
scout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Dtype
---  ------                         -----
 0   url                            object
 1   make_model                     object
 2   short_description              object
 3   body_type                      object
 4   price                          int64
 5   vat                            object
 6   km                             object
 7   registration                   object
 8   prev_owner                     object
 9   kW                             float64
 10  hp                             object
 11  Type                           object
 12  Previous Owners                object
 13  Next Inspection                object
 14  Inspection new                 object
 15  Warranty                       object
 16  Full Service                   object
 17  Non-smoking Vehicle            object
 18  null                           object
 19  Make                           object
 20  Model                          object
 21  Offer Number                   object
 22  First Registration             object
 23  Body Color                     object
 24  Paint Type                     object
 25  Body Color Original            object
 26  Upholstery                     object
 27  Body                           object
 28  Nr. of Doors                   object
 29  Nr. of Seats                   object
 30  Model Code                     object
 31  Gearing Type                   object
 32  Displacement                   object
 33  Cylinders                      object
 34  Weight                         object
 35  Drive chain                    object
 36  Fuel                           object
 37  Consumption                    object
 38  CO2 Emission                   object
 39  Emission Class                 object
 40
Comfort & Convenience
        object
 41
Entertainment & Media
        object
 42
Extras
                       object
 43
Safety & Security
            object
 44  description                    object
 45  Emission Label                 object
 46  Gears                          object
 47  Country version                object
 48  Electricity consumption        object
 49  Last Service Date              object
 50  Other Fuel Types               object
 51  Availability                   object
 52  Last Timing Belt Service Date  object
 53  Available from                 object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [271]:
scout.shape

(15919, 54)

In [272]:
scout.describe()

              price   kW
count  15919.000000  0.0
mean   18019.896727  NaN
std     7386.169409  NaN
min       13.000000  NaN
25%    12850.000000  NaN
50%    16900.000000  NaN
75%    21900.000000  NaN
max    74600.000000  NaN

## Missing Value Check

First of all let's examine the percentage of missing values.

In [273]:
(100 - scout.isnull().sum()*100/scout.shape[0]).sort_values()

kW                                 0.000000
Last Timing Belt Service Date      0.100509
Electricity consumption            0.860607
Available from                     1.708650
Last Service Date                  3.555500
Availability                       3.988944
Other Fuel Types                   5.527985
Next Inspection                   22.206169
Inspection new                    24.700044
Emission Label                    25.032979
Model Code                        31.270808
Non-smoking Vehicle               45.084490
Country version                   47.653747
Full Service                      51.605000
Weight                            56.190715
Drive chain                       56.919404
prev_owner                        57.107859
Previous Owners                   58.288837
Paint Type                        63.741441
Cylinders                         64.319367
Warranty                          65.952635
Gears                             70.400151
vat                               71.650229
Body Color Original               76.386708
Upholstery                        76.631698
Offer Number                      80.055280
Emission Class                    81.022677
\nExtras\n                        81.393304
Consumption                       88.026886
CO2 Emission                      88.642503
First Registration                89.967963
\nEntertainment & Media\n         91.368805
\nSafety & Security\n             93.831271
Nr. of Seats                      93.862680
\nComfort & Convenience\n         94.220743
Body Color                        96.249764
Displacement                      96.884226
Nr. of Doors                      98.668258
Body                              99.623092
body_type                         99.623092
short_description                 99.711037
Type                              99.987436
make_model                       100.000000
price                            100.000000
km                               100.000000
registration                     100.000000
Gearing Type                     100.000000
description                      100.000000
Model                            100.000000
Fuel                             100.000000
null                             100.000000
Make                             100.000000
hp                               100.000000
url                              100.000000
dtype: float64

## Dealing With Insufficient & Irrelevant Columns

We are going to consantrate on the columns that have high percentage of missing values. To do so we assume columns that have more than 35% missing values as columns of interest.

In [274]:
def columns_interest(data, limit):
    interest = data.isnull().sum()*100/data.shape[0]
    return (interest.loc[lambda x : x > limit]).sort_values()
columns_interest(scout, 35)

Cylinders                         35.680633
Paint Type                        36.258559
Previous Owners                   41.711163
prev_owner                        42.892141
Drive chain                       43.080596
Weight                            43.809285
Full Service                      48.395000
Country version                   52.346253
Non-smoking Vehicle               54.915510
Model Code                        68.729192
Emission Label                    74.967021
Inspection new                    75.299956
Next Inspection                   77.793831
Other Fuel Types                  94.472015
Availability                      96.011056
Last Service Date                 96.444500
Available from                    98.291350
Electricity consumption           99.139393
Last Timing Belt Service Date     99.899491
kW                               100.000000
dtype: float64

- We can drop columns that have 90% or more missing values and investigate the rest of the columns of interest for the further phases of project.

- 'Other Fuel Types', 'Availability', 'Last Service Date', 'Available from', 'Electricity consumption', 'Last Timing Belt Service Date' and 'kW' will be dropped.

In [275]:
drop_lst_interest = ['Other Fuel Types', 'Availability', 'Last Service Date', 'Available from', 'Electricity consumption', 'Last Timing Belt Service Date', 'kW']

In [276]:
scout.drop(columns = drop_lst_interest, axis = 1, inplace = True)

Now we are going to investigate each column of interest.

### scout['Cylinders']

In [277]:
columns_interest(scout, 35).Cylinders

35.680633205603364

In [278]:
scout.Cylinders.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
NaN        5680
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n2\n]       2
[\n8\n]       2
[\n1\n]       1
Name: Cylinders, dtype: int64

In [279]:
scout.Cylinders.str[0].str.strip().value_counts(dropna = False)

4      8105
NaN    5680
3      2104
5        22
6         3
8         2
2         2
1         1
Name: Cylinders, dtype: int64

In [280]:
scout['Cylinders'] = scout.Cylinders.str[0].str.strip()

We are going to keep the column and deal with the missing values in further phases of the project

### scout['Paint Type']

In [281]:
columns_interest(scout, 35)['Paint Type']

36.258558954708214

In [282]:
scout['Paint Type'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [283]:
scout['Paint Type'].str[0].str.strip().value_counts(dropna = False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: Paint Type, dtype: int64

In [284]:
scout['Paint_Type'] = scout['Paint Type'].str[0].str.strip()
scout.drop(columns = 'Paint Type', axis = 1, inplace = True)

### scout['Previous Owners'] & scout['prev_owner']

These two columns seems to contain similar data we are going to assess them together.

In [285]:
columns_interest(scout, 35)['Previous Owners']

41.71116276147999

In [286]:
columns_interest(scout, 35)['prev_owner']

42.8921414661725

In [287]:
scout['Previous Owners'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n1\n                                                                                        8101
NaN                                                                                          6640
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
                                                                                             ...
[\n1\n, \n181 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n1\n, \nEuro 6\n]                                                                             1
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
[\n1\n, \n102 g CO2/km (comb)\n]                                                                1
Name: Previous Owners, Length: 103, dtype: int64

#### scout['Previous Owners'

In [288]:
scout['Previous Owners'].str.strip().value_counts(dropna = False)

1      8101
NaN    6870
2       766
0       163
3        17
4         2
Name: Previous Owners, dtype: int64

In [289]:
scout['Previous Owners'].str[0].str[1].value_counts(dropna = False)

NaN    15689
1        193
0         25
2         12
Name: Previous Owners, dtype: int64

In [290]:
scout['Previous_Owners'] = scout['Previous Owners'].str.strip()

In [291]:
scout['Previous_Owners_add'] = scout['Previous Owners'].str[0].str[1]

- Now that we found additional useful previous owner values we are going to fill main column with the additional values.

In [292]:
scout.Previous_Owners.fillna(scout.Previous_Owners_add, inplace = True)

In [293]:
scout.Previous_Owners.value_counts(dropna = False)

1      8294
NaN    6640
2       778
0       188
3        17
4         2
Name: Previous_Owners, dtype: int64

In [294]:
scout['prev_owner'].value_counts(dropna = False)

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [295]:
scout['prev_owner'].str[0].value_counts(dropna = False)

1      8294
NaN    6828
2       778
3        17
4         2
Name: prev_owner, dtype: int64

In [296]:
scout['prev_owner'] = scout['prev_owner'].str[0].value_counts(dropna = False)

In [297]:
scout.drop(columns = ['prev_owner', 'Previous Owners', 'Previous_Owners_add'], inplace = True)

As 'Previous Owners' contains same values including 188 first owner (0) we dropped 'prev_owner' and also 'Previous Owners' and 'Previous_Owners_add' are no longer needed to be kept.

### scout['Drive chain']

In [298]:
columns_interest(scout, 35)['Drive chain']

43.08059551479364

In [299]:
scout['Drive chain'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
NaN            6858
[\n4WD\n]       171
[\nrear\n]        4
Name: Drive chain, dtype: int64

In [300]:
scout['Drive chain'].str[0].str.strip().value_counts(dropna = False)

front    8886
NaN      6858
4WD       171
rear        4
Name: Drive chain, dtype: int64

In [301]:
scout['drive_chain'] = scout['Drive chain'].str[0].str.strip()

In [302]:
scout.drop(columns = 'Drive chain', inplace = True)

### scout['Weight']

In [303]:
columns_interest(scout, 35).Weight

43.8092845027954

In [304]:
scout.Weight.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               6974
[\n1,163 kg\n]     574
[\n1,360 kg\n]     356
[\n1,165 kg\n]     301
[\n1,335 kg\n]     242
                  ...
[\n1,030 kg\n]       1
[\n1,206 kg\n]       1
[\n1,492 kg\n]       1
[\n1,057 kg\n]       1
[\n1,939 kg\n]       1
Name: Weight, Length: 435, dtype: int64

In [305]:
scout.Weight.str[0].str.strip().str.extract('(\d,*\d*)')[0].str.replace(',', '').value_counts(dropna = False)

NaN     6974
1163     574
1360     356
1165     301
1335     242
        ...
1648       1
1397       1
1792       1
2044       1
1523       1
Name: 0, Length: 435, dtype: int64

In [306]:
scout['Weight'] = scout.Weight.str[0].str.strip().str.extract('(\d,*\d*)')[0].str.replace(',', '')

Regarding its high Null value percentage and intuitively being not price related factor we will drop 'Weight' column.

In [307]:
scout.drop(columns = 'Weight', inplace = True)

# TO BE FILLED

# Step-1: Dropping irrelevent/insufficient columns

In [308]:
scout['Model'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [309]:
scout.drop(['kW','url','null','Offer Number','Model Code',\
            'Electricity consumption','Other Fuel Types','Availability',\
            'Last Timing Belt Service Date','Available from'], axis=1, inplace=True)

KeyError: "['kW' 'Electricity consumption' 'Other Fuel Types' 'Availability'\n 'Last Timing Belt Service Date' 'Available from'] not found in axis"

In [ ]:
scout.shape

# Step-2: Column by column data cleaning

In [ ]:
scout.iloc[:, 0:5].info()

## 1- scout['make_model']

In [ ]:
scout['make_model'].value_counts()

## 2- scout['short_description']

### 2.1- scout['__cc']

In [ ]:
scout['make_model'].describe()

Column-2: scout['short_description']

In [ ]:
scout['short_description'].value_counts()

In [ ]:
def single_list(x):
    return [i for i in x]

In [ ]:
def split_jungle(x):
    return [w for sublist in (i.split(" ") if i is not None else '' for i in x) for w in sublist]

In [ ]:
def split_sublist(x):
    return [i.split(" ") if i is not None else '' for i in x]

In [ ]:
def re_description(x):
    return [j for j in (re.findall('.*([1-3]{1}\.\d{1}).*',i) if i is not None else '' for i in x)]

In [ ]:
cc=scout['short_description'].str.extract('\D*([0-3]{1}\.\d{1})[\D ]')
scout['__cc']=cc[0]

In [ ]:
scout['__cc'].value_counts()

### 2.2- scout['__xx']

In [ ]:
scout['short_description'].value_counts()

In [ ]:
#xx=scout['short_description'].str.extract('')

## 3- scout['body_type']

In [ ]:
scout['body_type'].value_counts()

In [ ]:
body_null = scout[scout['body_type'].isnull()]

In [ ]:
body_group = scout.groupby('make_model')['body_type'].apply(pd.DataFrame)
body_group['Audi A3'].value_counts()

In [ ]:
body_null.groupby('make_model')['short_description'].apply(pd.DataFrame)

## 4- scout['price']

In [ ]:
scout['price'].isna().sum()

In [ ]:
scout['price'].dtypes

## 5- scout['vat']

In [ ]:
scout['vat'].isna().sum()

In [ ]:
scout['vat'].value_counts()

In [ ]:
#cats = ['', '']
#cat_dtype = pd.api.types.CategoricalDtype(categories=cats, ordered=True)
#weather['rating'] = weather['rating'].astype(cat_dtype)

## 6- scout['km']

In [ ]:
scout['km'].value_counts()

In [ ]:
def numerization(x):
    return [re.sub('\D', '', i) if i is not None else '' for i in x]

In [ ]:
scout['km']=numerization(scout['km'])
scout['km']=pd.to_numeric(scout['km'])

In [ ]:
scout['km'].dtypes

## 7- scout['registration']

In [ ]:
scout['registration'].head()

In [ ]:
dates = []
wrong_dates = []
for i in scout['registration'].unique():
    try: 
        date = pd.to_datetime(i)
        dates.append(i)
    except:
        wrong_dates.append(i)

In [ ]:
wrong_dates

In [ ]:
scout['registration'] = pd.to_datetime(scout['registration'], errors='coerce')

In [ ]:
scout['registration'].dtypes

In [ ]:
scout['registration'].value_counts().sum()

## 8- scout['prev_owner']

In [ ]:
scout['prev_owner'].value_counts()

In [ ]:
scout['prev_owner']=numerization(scout['prev_owner'])

In [ ]:
scout['prev_owner']=pd.to_numeric(scout['prev_owner'])

## 9- scout['hp']

In [ ]:
scout['hp'].isnull().sum()

In [ ]:
scout['hp'].value_counts()

In [ ]:
scout['hp']=numerization(scout['hp'])

In [ ]:
scout['hp']=pd.to_numeric(scout['hp'])

In [ ]:
scout['hp'].dtypes

In [ ]:
scout[scout['hp'] < 30]['hp'].value_counts()

## 10- scout['Type']

In [ ]:
scout['Type'].isnull().sum()

In [ ]:
scout['Type'].value_counts()

In [ ]:
def explosion(df,column,new_column_prefix):
    df_exploded = df[column].apply(pd.Series)
    df_exploded = df_exploded.rename(columns = lambda x : new_column_prefix + str(x))
    df = pd.concat([df[:], df_exploded[:]], axis=1)    
    return df

### 10.1- scout['__status']

In [ ]:
scout = explosion(scout,'Type','Type_')

In [ ]:
scout.drop(columns=['Type','Type_0','Type_2'], inplace=True)

In [ ]:
scout.head(2)

In [ ]:
scout.rename(columns={'Type_1':'__status'}, inplace=True)

In [ ]:
scout['__status'].dtypes

### 10.2- scout['fuel_from_type']

In [ ]:
scout.rename(columns={'Type_3':'__fuel_from_type'}, inplace=True)

In [ ]:
scout['__fuel_from_type'].dtypes

In [ ]:
scout['__fuel_from_type'].value_counts()

In [ ]:
scout['Fuel'].value_counts()

## 11- scout['Previous Owners']

In [ ]:
scout['Previous Owners'].value_counts()

In [ ]:
scout = explosion(scout,'Previous Owners','Prev_')

In [ ]:
scout.tail()

In [ ]:
scout.drop(columns=['Previous Owners','Prev_1','Prev_2','Prev_3','Prev_4','Prev_5','Prev_6','Prev_7'], inplace=True)

In [ ]:
def newline_erase(df,column):
    column = df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True)[column]
    return column

In [ ]:
scout['Prev_0'] = scout['Prev_0'].str.extract('(\d)')

In [ ]:
scout.rename(columns={'Prev_0':'__prev_owner'}, inplace=True)
scout = scout.astype({'__prev_owner' : 'int'}, copy = False, errors='ignore')
scout.drop(columns=['prev_owner'], inplace=True)

## 12- scout['Next Inspection']

In [ ]:
scout['Next Inspection'].value_counts()

In [ ]:
scout = explosion(scout,'Next Inspection','_next_insp')

In [ ]:
scout.drop(columns=['Next Inspection', '_next_insp1', '_next_insp2', '_next_insp3', '_next_insp4', '_next_insp5', '_next_insp6', '_next_insp7'], inplace=True)

In [ ]:
scout['_next_insp0'] = scout['_next_insp0'].str.extract('(\d{2}/\d{4})')

In [ ]:
scout['_next_insp0'].value_counts()

In [ ]:
scout = scout.astype({'_next_insp0' : 'int'}, copy = False, errors='ignore')
scout.rename(columns={'_next_insp0':'__next_insp'}, inplace=True)

## 13- scout['Inspection new']

In [ ]:
scout['Inspection new'].value_counts()

In [ ]:
scout = explosion(scout, 'Inspection new', '__Insp_New_')

In [ ]:
scout['__Insp_New_0'].value_counts()

In [ ]:
scout.drop(columns=['Inspection new', '__Insp_New_1', '__Insp_New_2', '__Insp_New_3', '__Insp_New_4', '__Insp_New_5', '__Insp_New_6', '__Insp_New_7'], inplace=True)

In [ ]:
scout['__Insp_New_0'] = scout['__Insp_New_0'].str.extract('(Yes)')

In [ ]:
scout = scout.astype({'__Insp_New_0' : 'bool'}, copy = False, errors='ignore')

In [ ]:
scout.rename(columns={'__Insp_New_0':'__Insp_New'}, inplace=True)

In [ ]:
scout['__Insp_New']

# FIX ABOVE

## 14. scout['Warranty']

In [310]:
scout.Warranty.isnull().sum()/scout.Warranty.shape[0]*100

34.047364784220115

In [311]:
scout.Warranty.isnull().sum()

5420

In [312]:
scout.Warranty.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                         5420
[\n, \n, \nEuro 6\n]                        1868
\n12 months\n                               1177
\n                                           979
\n24 months\n                                566
                                            ...
[\n24 months\n, \n128 g CO2/km (comb)\n]       1
[\n60 months\n, \n98 g CO2/km (comb)\n]        1
[\n20 months\n, \n139 g CO2/km (comb)\n]       1
[\n10 months\n, \n104 g CO2/km (comb)\n]       1
[\n16 months\n, \n116 g CO2/km (comb)\n]       1
Name: Warranty, Length: 516, dtype: int64

In [313]:
scout.Warranty.value_counts(dropna = False).sample(50)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n12 months\n, \n14,457 g CO2/km (comb)\n]                                                             1
[\n6 months\n, \n108 g CO2/km (comb)\n]                                                                 1
\n12 months\n                                                                                        1177
[\n60 months\n, \n, 6.2 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 5.4 l/100 km (country), \n]       3
[\n36 months\n, \n4 (Green)\n]                                                                         30
[\n6 months\n, \n98 g CO2/km (comb)\n]                                                                  1
[\n60 months\n, \n137 g CO2/km (comb)\n]                                                                3
[\n, \n, \n151 g CO2/km (comb)\n]                                                                       5
[\n11 months\n, \n117 g CO2/km (comb)\n]                                                                1
[\n72 months\n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n60 months\n, \n127 g CO2/km (comb)\n]                                                                3
[\n24 months\n, \n95 g CO2/km (comb)\n]                                                                 1
[\n12 months\n, \n121 g CO2/km (comb)\n]                                                               10
[\n, \n, \nEuro 6d\n]                                                                                  11
[\n12 months\n, \n104 g CO2/km (comb)\n]                                                               34
[\n16 months\n, \n152 g CO2/km (comb)\n]                                                                1
[\n6 months\n, \n103 g CO2/km (comb)\n]                                                                12
[\n, \n, \n141 g CO2/km (comb)\n]                                                                      28
[\n12 months\n, \n127 g CO2/km (comb)\n]                                                               14
[\n60 months\n, \n102 g CO2/km (comb)\n]                                                                9
[\n36 months\n, \nEuro 6\n]                                                                            34
[\n24 months\n, \n140 g CO2/km (comb)\n]                                                               22
[\n, \n, \n, 5.9 l/100 km (comb), \n, 7.5 l/100 km (city), \n, 5 l/100 km (country), \n]                3
[\n, \n, \n, 4.3 l/100 km (comb), \n, 5.1 l/100 km (city), \n, 3.8 l/100 km (country), \n]              2
\n30 months\n                                                                                           1
[\n36 months\n, \n110 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.3 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.4 l/100 km (country), \n]              2
[\n24 months\n, \n129 g CO2/km (comb)\n]                                                                4
[\n, \n, \n, 4.7 l/100 km (comb), \n, 5.5 l/100 km (city), \n, 4.1 l/100 km (country), \n]              1
[\n24 months\n, \n127 g CO2/km (comb)\n]                                                                7
[\n60 months\n, \n, 5.4 l/100 km (comb), \n, 6.7 l/100 km (city), \n, 4.6 l/100 km (country), \n]       7
[\n12 months\n, \n129 g CO2/km (comb)\n]                                                                3
[\n60 months\n, \n118 g CO2/km (comb)\n]                                                                1
\n9 months\n                                                                                            2
[\n, \n, \n, 4.4 l/100 km (comb), \n, 5.2 l/100 km (city), \n, 3.9 l/100 km (country), \n]              1
[\n, \n, \n156 g CO2/km (comb)\n]                                                                       5
[\n24 months\n, \n5 (Blue)\n]                                                                           3
[\n, \n, \n155 g CO2/km (comb)\n]                                                                       1
[\n24 months\n, \n130 g CO2/km (comb)\n]                                                                5
[\n36 months\n, \n, 5.5 l/100 km (comb), \n, 6.9 l/100 km (city), \n, 4.6 l/100 km (country), \n]       1
[\n60 months\n, \n138 g CO2/km (comb)\n]                                                                2
NaN                                                                                                  5420
[\n24 months\n, \n142 g CO2/km (comb)\n]                                                                3
[\n12 months\n, \n12,324 g CO2/km (comb)\n]                                                             1
[\n, \n, \n120 g CO2/km (comb)\n]                                                                      93
[\n60 months\n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.8 l/100 km (country), \n]       2
[\n60 months\n, \n, 5.4 l/100 km (comb), \n, 7.1 l/100 km (city), \n, 4.4 l/100 km (country), \n]      10
[\n23 months\n]                                                                                         5
[\n, \n, \n45 g CO2/km (comb)\n]                                                                        1
[\n60 months\n, \n123 g CO2/km (comb)\n]                                                                4
Name: Warranty, dtype: int64

In [314]:
warranty_lst = [''.join(item).strip() if isinstance(item,list) else item for item in scout['Warranty']]

In [315]:
scout['warranty_mnth'] = pd.DataFrame(warranty_lst)

In [316]:
scout['warranty_mnth'] = scout.warranty_mnth.str.extract('(\d{1,3}) months')

In [317]:
scout['warranty_mnth'].value_counts(dropna = 0)

NaN    11066
12      2594
24      1118
60       401
36       279
48       149
6        125
72        59
3         33
23        11
18        10
20         7
25         6
2          5
26         4
50         4
16         4
34         3
4          3
13         3
1          3
19         3
14         2
28         2
22         2
45         2
9          2
46         2
11         2
21         2
17         2
49         1
10         1
7          1
65         1
15         1
33         1
47         1
56         1
40         1
30         1
8          1
Name: warranty_mnth, dtype: int64

In [318]:
scout['warranty_mnth'].isnull().sum()/scout['warranty_mnth'].shape[0]*100

69.51441673471952

Since 69% is null we will drop 'Warranty' and 'warranty_mnth'. We also drop non related 'url' column.

In [319]:
scout.drop(columns = ['warranty_mnth', 'Warranty', 'url'], inplace = True)

## 17. scout['Make']

In [320]:
scout['Make'].value_counts(dropna = False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [321]:
scout['Make'] = scout['Make'].str.strip()

In [322]:
scout['Make'].value_counts()

Opel       7343
Audi       5712
Renault    2864
Name: Make, dtype: int64

## 18-scout['Model']

In [323]:
scout['Model'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [324]:
scout['Model'] = scout.Model.str[1]

## scout['Body Color']

In [325]:
scout['Body Color'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [326]:
scout['body_color'] = scout['Body Color'].str[1].str.strip()

In [327]:
scout.body_color.fillna(method = 'bfill', inplace = True)

In [328]:
scout.body_color.value_counts(dropna = False)

Black     3888
Grey      3638
White     3540
Silver    1687
Blue      1524
Red        989
Brown      299
Green      163
Beige      108
Yellow      53
Violet      18
Bronze       7
Orange       3
Gold         2
Name: body_color, dtype: int64

## scout['Body Color Original']

In [331]:
scout['Body Color Original'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                             3759
[\nOnyx Schwarz\n]               338
[\nBianco\n]                     282
[\nMythosschwarz Metallic\n]     238
[\nBrillantschwarz\n]            216
                                ...
[\nBianca - Tetto Nero\n]          1
[\ndezir rot\n]                    1
[\nnero/tetto argento met\n]       1
[\nPython Yellow Metallic\n]       1
[\nkarbongrau\n]                   1
Name: Body Color Original, Length: 1928, dtype: int64

In [332]:
scout.drop(columns='Body Color Original', inplace = True)

## 23-scout['Upholstery']

In [333]:
scout['Upholstery'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
NaN                          3720
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nCloth, Blue\n]              12
[\nBrown\n]                    12
[\nVelour, Grey\n]              8
[\nCloth, White\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nBeige\n]                     3
[\nPart leather, Red\n]         3
[\nPart leather, Beige\n]       2
[\nFull leather, Blue\n]        2
[\nalcantara\n]                 2
[\nWhite\n]                     2
[\nPart leather, White\n]       2
[\nalcantara, Other\n]          2
[\nBlue\n]                      2
[\nOther, Brown\n]              1
[\nFull leather, Red\n]         1
[\nFull leather, White\n]       1
[\nCloth, Orange\n]             1
Name: Upholstery, dtype: int64

In [335]:
scout['Upholstery'].isnull().sum()/scout['Upholstery'].shape[0]*100

23.368302029021923

In [339]:
scout['Upholstery'] = scout.Upholstery.str[0].str.strip()

In [ ]:
## scout['Nr. of Doors']

In [340]:
scout['Nr. of Doors'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n7\n]        1
[\n1\n]        1
Name: Nr. of Doors, dtype: int64

In [343]:
scout['door_number'] = scout['Nr. of Doors'].str[0].str.strip()

In [344]:
scout.drop(columns = 'Nr. of Doors', inplace = True)

## scout['Nr. of Seats']

In [345]:
scout['Nr. of Seats'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
NaN          977
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [347]:
scout['seat_number'] = scout['Nr. of Seats'].str[0].str.strip()

In [350]:
scout.drop(columns = 'Nr. of Seats', inplace = True)

## scout['Gearing Type']

In [351]:
scout['Gearing Type'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [354]:
scout['gear_type'] = scout['Gearing Type'].str[1]

In [355]:
scout.drop(columns = 'Gearing Type', inplace = True)

## scout['Displacement']

In [356]:
scout['Displacement'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]     4761
[\n999 cc\n]       2438
[\n1,398 cc\n]     1314
[\n1,399 cc\n]      749
[\n1,229 cc\n]      677
                   ...
[\n1,800 cc\n]        1
[\n140 cc\n]          1
[\n15,898 cc\n]       1
[\n1,686 cc\n]        1
[\n1,368 cc\n]        1
Name: Displacement, Length: 78, dtype: int64

In [359]:
scout['Displacement'] = scout.Displacement.str[0].str.strip()

In [364]:
scout.Displacement.replace({',':'', ' cc':''}, regex = True, inplace = True)

In [ ]:
oto['Displacement']